name: node_http
description: HTTP client powered by Node.js I/O system.
version: 1.0.1
homepage: https://github.com/pulyaevskiy/node-interop
author: Anatoly Pulyaevskiy <anatoly.pulyaevskiy@gmail.com>
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  http: ^0.13.1
  node_interop:
    git:
      url: https://github.com/blaueeiner/node-interop.git
      path: ./node_interop/
      ref: master
  node_io:
    git:
      url: https://github.com/blaueeiner/node-interop.git
      path: ./node_io/
      ref: master

dev_dependencies:
  build_runner: ^1.12.2
  build_node_compilers:
    git:
      url: https://github.com/blaueeiner/node-interop.git
      path: ./build_node_compilers/
      ref: master
  build_test: ^2.0.0
  pedantic: ^1.11.0
  test: ^1.16.8
